.login {
    height: 100%;

    .h_panel {
        width: 1130px;
        margin: 0 auto;

        .h_logo {
            width: 200px;
            height: 98px;
            background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;

            a {
                display: block;
                height: 98px;
                text-indent: -9999em;
            }
        }
    }

    .img {
        width: 1263px;
        margin-left: -8px;
        height: 588px;
        position: relative;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url(../images/f838fdcd77715410b441f2f56d8f10cd.jpg);

        .box {
            position: absolute;
            width: 410px;
            min-height: 524px;
            margin-bottom: 0;
            margin-right: 0;
            font-size: 14px;
            z-index: 4;
            right: 50px;
            background: #fff;
            text-align: center;
            margin-top: 64px;
            .nav_tabs {
                padding: 27px 0 24px;
                text-align: center;
                font-size: 24px;
                color: #666;
                a.now {
                    color: #f56600;
                }
                .line {
                    width: 1px;
                    height: 24px;
                    margin: 0 35px 0 42px;
                    border: 1px solid #e0e0e0;
                }
                a {
                    color: #666;
                    text-decoration: none;
                }
            }
            .loginbox{
                text-align: center;
                input {
                    width: 306px;
                    height: 22px;
                    line-height: 22px;
                    padding: 13px 16px 13px 14px;
                    display: block;
                    margin-bottom: 14px;
                    border: 1px solid #e0e0e0;
                    margin: 24px auto;
                }
                .text{
                    text-align: left;
                    margin-left: 37px;
                    color: #ff6700;
                }
                .btnadpt {
                    background-color: #ff6700;
                    width: 340px;
                    height: 50px;
                    line-height: 25px;
                    display: block;
                    margin-bottom: 14px;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                    cursor: pointer;
                }
                .btn_gray {
                    color: #ff6700;
                    border: 0 none;
                    height: auto;
                    line-height: normal;
                    margin: 0;
                    cursor: pointer;
                    float: left;
                    margin-left: 37px;
                    text-decoration: none;
                }
                .n_links_area {
                    padding-top: 0;
                    color: #999;
                    margin-left: 210px;
                    a {
                        color: #999;
                        font-size: 14px;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    a:hover{
                        color: #ff6700;
                    }
                    span {
                        padding:0 5px;

                    }
                }
            }
            #erweima{
                width: 410px;
                height: 440px;
                text-align: center;
                opacity: 0;
                img{
                    margin-top: 100px;
                }
                p{
                    color: #757575;
                    font-size: 14px;
                    span{
                        padding: 0 5px;
                        color: #ff6700;
                    }
                }
            }
        }
    }

    .n-footer {
        background: #fff;
        margin-top: 0;
        padding-top: 100px;
        position: relative;
        z-index: 4;
        font-size: 14px;
        text-align: center;

        .nf-link-area {
            text-align: center;

            li {
                display: inline-block;

                a {
                    display: inline-block;

                    padding: 0 10px;
                    color: #757575;
                    text-decoration: none;
                }
            }
        }
    }

    .nf-intro {
        padding: 10px;
        color: #757575;
        font-size: 14px;
        text-align: center;

        a {
            color: #757575;
            text-decoration: none;
        }
    }
}