.container {
  width: 1226px;
  margin: auto;
}

.top {
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0;
  position: relative;
  z-index: 20;
  height: 100px;
}

.top h1 {
  margin-left: 20px;
  margin-right: 55px;
}

.top h1 a {
  display: block;
  width: 55px;
  height: 55px;
  margin: 22px 6px 0px 0px;
  background: url(../images/logo-footer.png) no-repeat center center;
  text-indent: -9999px;
}

.top .has-more {
  height: 48px;
  float: left;
  margin-top: 26px;
}

.top .has-more h2 {
  float: left;
  line-height: 48px;
  margin-bottom: 0;
  color: #424242;
  font-size: 28px;
}

.top .has-more p {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 15px;
  color: #757575;
}

.car {
  padding-top: 38px;
  padding-bottom: 38px;
  background: #f5f5f5;
  font-size: 14px;
}

.car .goods-list {
  background-color: #fff;
}

.car .goods-list .raise-buy-box {
  height: 40px;
  background: #f5f5f5;
}

.car .goods-list .col-check {
  width: 110px;
}

.car .goods-list .col-check .icon-checkbox {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e0e0e0;
  margin-left: 24px;
  background-color: #fff;
  color: #fff;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -1px;
  cursor: pointer;
  margin-right: 15px;
}

.car .goods-list .col-check .gou{
  color: #fff;
  border-color: #ff6700;
  background-color: #ff6700;
}
.car .goods-list .col-check .icon-checkbox:hover {
  color: #757575;
}

.car .goods-list .list-head {
  height: 70px;
  line-height: 70px;
  padding-right: 26px;
  color: #424242;
}

.car .goods-list .list-head .col {
  float: left;
}

.car .goods-list .list-head .col-img {
  width: 120px;
}

.car .goods-list .list-head .col-name {
  width: 380px;
}

.car .goods-list .list-head .col-price {
  width: 140px;
  padding-right: 18px;
  text-align: center;
  color: #424242;
}

.car .goods-list .list-head .col-num {
  width: 150px;
  text-align: center;
  color: #424242;
}

.car .goods-list .list-head .col-total {
  width: 120px;
  padding-right: 81px;
  text-align: right;
}

.car .goods-list .list-head .col-action {
  width: 80px;
  text-align: center;
}

.car .goods-list .item-row {
  padding: 15px 26px 15px 0;
  border-top: 1px solid #e0e0e0;
}

.car .goods-list .item-row .col {
  display: table-cell;
  vertical-align: middle;
  width: 110px;
}

.car .goods-list .item-row .col-img {
  height: 80px;
  padding-right: 40px;
  overflow: hidden;
}
.car .goods-list .item-row .col-img img{
  width: 100%;
  height: 100%;
}

.car .goods-list .item-row .col-name {
  width: 380px;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.car .goods-list .item-row .col-price {
  width: 140px;
  padding-right: 18px;
  text-align: center;
  color: #424242;
}

.car .goods-list .item-row .col-num {
  width: 150px;
  text-align: center;
  color: #424242;
}

.car .goods-list .item-row .col-num .change-goods-num {
  width: 148px;
  height: 38px;
  border: 1px solid #e0e0e0;
  text-align: center;
  background-color: #fff;
  position: relative;
  zoom: 1;
}

.car .goods-list .item-row .col-num .change-goods-num a {
  float: left;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #757575;
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.car .goods-list .item-row .col-num .change-goods-num a .jian {
  font-size: 28px;
}

.car .goods-list .item-row .col-num .change-goods-num a .jia {
  font-size: 21px;
}

.car .goods-list .item-row .col-num .change-goods-num a:hover {
  background-color: #e0e0e0;
}

.car .goods-list .item-row .col-num .change-goods-num input {
  float: left;
  width: 72px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  border-width: 0;
  color: #424242;
  font-size: 16px;
  text-align: center;
}

.car .goods-list .item-row .col-total {
  width: 120px;
  padding-right: 81px;
  text-align: right;
  color: #ff6700;
  font-size: 16px;
}

.car .goods-list .item-row .col-action {
  width: 80px;
  text-align: center;
}

.car .goods-list .item-row .col-action a {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  color: #757575;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}

.car .goods-list .item-row .col-action a:hover {
  color: #fff;
  background-color: #e53935;
}

.car .goods-list .car-bar {
  height: 50px;
  text-align: right;
  background-color: #fff;
  transition: background .3s ease, top .3s ease;
  position: relative;
}

.car .goods-list .car-bar a {
  line-height: 50px;
  margin-left: 32px;
  transition: color .3s;
  color: #757575;
  text-decoration: none;
}

.car .goods-list .car-bar .cart-total {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
  color: #757575;
  width: 1226px;
}

.car .goods-list .car-bar .cart-total i {
  color: #ff6700;
}

.car .goods-list .car-bar .total-price {
  padding-left: 13px;
  color: #ff6700;
}

.car .goods-list .car-bar .total-price em {
  font-style: normal;
  font-size: 30px;
}

.car .goods-list .car-bar .btn {
  display: inline-block;
  width: 200px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  margin-left: 50px;
  vertical-align: top;
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
  text-align: center;
}

.car .goods-list .car-bar .btn:hover {
  background-color: #f25807;
  border-color: #f25807;
  color: #fff;
}

.car .gengduo {
  margin: 60px 0 0;
}

.car .gengduo .xm-recommend-title {
  position: relative;
  margin: 0;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #757575;
  border-top: 1px solid #e0e0e0;
}

.car .gengduo .xm-recommend-title span {
  position: absolute;
  top: -20px;
  left: 372px;
  height: 40px;
  width: 482px;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: #f5f5f5;
}

.car .gengduo ul li:hover dl .xm-recommend-tips .btn {
  display: block;
  border: 1px solid #f25807;
}

.car .gengduo ul li:hover dl .xm-recommend-tips .btn:hover {
  color: #fff;
  background-color: #f25807;
  border-color: #f25807;
  transition: all .4s;
  cursor: pointer;
}

.car .gengduo ul li {
  width: 230px;
  margin-bottom: 14px;
  height: 300px;
  background-color: #fff;
  text-align: center;
  position: relative;
  float: left;
  margin-left: 14px;
  min-height: 1px;
  cursor: pointer;
}

.car .gengduo ul li dl {
  padding: 0 20px;
  margin-bottom: 0;
}

.car .gengduo ul li dl dt {
  padding: 40px 0 15px;
  height: 145px;
}

.car .gengduo ul li dl .xm-recommend-name {
  margin-bottom: 10px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.car .gengduo ul li dl .xm-recommend-price {
  margin-bottom: 10px;
  color: #ff6700;
}

.car .gengduo ul li dl .xm-recommend-tips {
  position: relative;
  color: #757575;
}

.car .gengduo ul li dl .xm-recommend-tips .btn {
  position: absolute;
  left: 37px;
  top: 0;
  width: 120px;
  display: none;
  border-color: #ff6700;
  background: #fff;
  color: #ff6700;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
}

